{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "comma-dangle": "warn",
        "no-else-return": "warn",
        "quotes": [
            "warn",
            "double"
        ],
        "no-console": "warn",
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/explicit-function-return-type": "warn",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/array-type": [
            "warn",
            {
                "default": "array-simple"
            }
        ]
    }
}